@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

.dark {
  --background: #1f2937; /* example dark background (gray-800) */
  --foreground: #f9fafb; /* example dark foreground (gray-50) */
}

/* Rely on OS preference for dark mode automatically */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1f1f;
    --foreground: #ededed;
  }
}
/* Apply Inter (via the CSS variable) to all text elements */
body,
h4,
h5,
h6,
p,
span,
li {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 300;
}

body {
  background: linear-gradient(
    135deg,
    rgba(75, 85, 99, 0.4),
    rgba(0, 0, 0, 0.4),
    rgba(75, 85, 99, 0.4)
  );
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: var(--font-inter), sans-serif;
  font-weight: 700;
}

body {
  font-size: 1.25rem;
  /* 
    No need to set background or text color here 
    since layout.tsx does it on <body> with Tailwind classes 
  */
}

h1 {
  color: var(--foreground);
}
