@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light mode default */
  --background: #ffffff;
  --foreground: #171717;
}

/* Rely on OS preference for dark mode automatically */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-primary), cursive;
  font-size: 1.25rem;
  /* 
    No need to set background or text color here 
    since layout.tsx does it on <body> with Tailwind classes 
  */
}
