@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
:root {
  --background: #ffffe3;
  --foreground: #1d1f25;
  --accent: #10100e;
}

.dark {
  --background: #1d1f25; /* example dark background (gray-800) */
  --foreground: #ffffe3; /* example dark foreground (gray-50) */
}

/* Rely on OS preference for dark mode automatically */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1f25;
    --foreground: #ffffe3;
  }
}
/* Apply Inter (via the CSS variable) to all text elements */
body,
h4,
h5,
h6,
p,
span,
li {
  font-family: var(--font-montserrat), sans-serif;
  font-weight: 300;
}

body {
  background: "#1D1F25";
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}

.real-bg {
  background: "#10100E";
}

.special-bg {
  background: "#10100E";
}

h1,
h2,
h3 {
  font-family: var(--font-inter), sans-serif;
  font-weight: 700;
}

body {
  font-size: 1.25rem;
  /* 
    No need to set background or text color here 
    since layout.tsx does it on <body> with Tailwind classes 
  */
}

h1 {
  color: var(--foreground);
}
